<ngx-spinner name="login-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
             [fullScreen]="true"><p> Loading... </p></ngx-spinner>
<div class="login-wrapper">
    <form #loginForm="ngForm">
        <div class="p-grid">
            <div class="p-col-12">
                <app-main-heading text="Login to your" boldtext="account"></app-main-heading>
            </div>
                <small *ngIf="backendException" class="p-error p-col-12">
                    {{backendError}}
                </small>            
                <div class="p-col-12">
                    <span class="p-input-icon-left p-input-wrapper">
                        <i class="pi pi-user"></i>
                        <input pInputText type="text" placeholder="Username" id="username" name="username" required [(ngModel)]="username">
                    </span>
                </div>
                <div class="p-col-12">
                    <span class="p-input-icon-left p-input-wrapper">
                        <i class="pi pi-lock"></i>
                        <p-password placeholder="Password" id="password" name="password" required [(ngModel)]="password" [feedback]="false" [toggleMask]="true"></p-password>
                    </span>
                </div>
                <div class="p-col-12 p-mt-2 p-d-flex align-items-center justify-content-end">
                    <app-router-link router="/forgotPassword" label="Forgot Password?"></app-router-link>
                </div>
                <div class="p-col-12 p-mt-3">
                    <app-button label="Login" class="p-d-block" type="button" (click)="submitLoginForm(loginForm.value)" size="large full"></app-button>
                </div>
        </div>
    </form>
</div>
