@import "variables";

.link-img {
    color: $body-color;
    text-align: center;
    display: block;
    padding: 12px 10px 10px;
    border: 1px solid rgba(255,255,255,0.3);

    img {
        display: inline-block;
    }

    span {
        font-weight: $bold;
        display: block;    
        margin-top: 5px;    
    }

    &:hover {
        box-shadow: 0 0 10px rgba(255,255,255,0.4);
    }

}