<ngx-spinner name="editProfile-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
             type="ball-clip-rotate"
             [fullScreen]="true"><p> Loading... </p></ngx-spinner>

<app-page-title title="Edit User"></app-page-title>
<div class="pages-inner">
    <div class="p-grid">
        <div class="p-col-12">
            <p-card>
                <form [formGroup]="updateUser">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-user"></i>
                                <input pInputText type="text" [disabled]="true" readonly placeholder="First Name" id="fname" formControlName="firstName">
                                <div *ngIf="updateUserControl.firstName.errors">
                                    <span class="p-error" *ngIf="(updateUserControl.firstName.errors.required && (updateUserControl.firstName.dirty
                        ||updateUserControl.firstName.touched)) || (updateUserControl.firstName.untouched && submitValidation)">
                            First Name is required!</span>
                        <span class="p-error" *ngIf="updateUserControl.firstName.errors.pattern">Only characters are allowed</span>
                    </div>
                </span>
                        </div>
                        <div class="p-col-12 p-md-6">
                <span class="p-input-icon-left p-input-wrapper">
                    <i class="pi pi-user"></i>
                     <input pInputText type="text"  [disabled]="true" readonly  placeholder="Last Name" id="lname" formControlName="lastName">
                    <div *ngIf="updateUserControl.lastName.errors">
                        <span class="p-error" *ngIf="(updateUserControl.lastName.errors.required && (updateUserControl.lastName.dirty
                        ||updateUserControl.lastName.touched)) || (updateUserControl.lastName.untouched && submitValidation)">
                            Last Name is required!</span>
                        <span class="p-error" *ngIf="updateUserControl.lastName.errors.pattern">Only characters are allowed</span>
                    </div>
                </span>
                        </div>

                        <div class="p-col-12">
                            <span class="p-input-icon-left p-input-wrapper">
                    <i class="pi pi-user"></i>
                   <input pInputText type="text" placeholder="Display Name"  [disabled]="true" readonly  id="displayName"
                          formControlName="displayName">
                    <div *ngIf="updateUserControl.displayName.errors">
                          <span class="p-error" *ngIf="(updateUserControl.displayName.errors.required && (updateUserControl.displayName.dirty
                        ||updateUserControl.displayName.touched)) || (updateUserControl.displayName.untouched && submitValidation)">
                            Display Name is required!</span>
                    </div>
                </span>
                        </div>
                        <div class="p-col-12">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-envelope"></i>
                                <input pInputText type="text"  [disabled]="true" readonly  placeholder="Email" id="email" [disabled]="true" readonly formControlName="email">
                            </span>
                        </div>
                        <div class="p-col-12">
                <span class="p-input-icon-left p-input-wrapper">
                    <i class="pi pi-phone"></i>
                    <input pInputText type="text"  [disabled]="true" readonly  placeholder="Phone Number" id="phoneNumber"
                           formControlName="phoneNumber">
                    <div *ngIf="updateUserControl.phoneNumber.errors">
                        <span class="p-error" *ngIf="(updateUserControl.phoneNumber.errors.required && (updateUserControl.phoneNumber.dirty
                        ||updateUserControl.phoneNumber.touched)) || (updateUserControl.phoneNumber.untouched && submitValidation)">
                            Phone Number is required!</span>
                    </div>
                </span>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-users"></i>
                                <p-dropdown [disabled]="checkIfdisabeldRoles" [readonly]="checkIfdisabeldRoles"
                                            [options]="roles" formControlName="roles" placeholder="Role"></p-dropdown >
                                   <div *ngIf="updateUserControl.roles.errors">
                        <span class="p-error" *ngIf="(updateUserControl.roles.errors.required && (updateUserControl.roles.dirty
                        ||updateUserControl.roles.touched)) || (updateUserControl.roles.untouched && submitValidation)">
                            Role is required!</span>
                    </div>
                            </span>
                        </div>
                        <div class="p-col-12 p-md-12">
                            <span class="p-input-icon-left p-input-wrapper">
                              <div *ngFor="let additonalRole of additionalRoles" class="p-field-checkbox">
                                <input type="checkbox" formArrayName="additionalRoles" [value]="additonalRole"
                                       (change)="onCheckboxChange($event)"/>
                                <label>{{additonalRole}}</label>
                              </div>
                            </span>
                        </div>

                        <div class="p-col-12 p-d-flex">
                            <app-button label="Update" (click)="onUpdateUserSubmit()" class="p-d-block"></app-button>
                            <app-button label="Cancel" (click)="cancel()" class="p-d-block secondary p-ml-3"></app-button>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>
    </div>
</div>
