<div class="login-wrapper">
    <form>
        <div class="p-grid">
            <div class="p-col-12">
                <app-main-heading text="Verification" boldtext="code"></app-main-heading>
            </div>
            <div class="p-col-12">
                <app-text>
                    A 6-digit authentication code has been sent to <strong>********321</strong>. Enter it below to login to the platform
                </app-text>
            </div>
            <div class="p-col-12">
                <app-input type="text" placeholder="6-digit authentication code" id="userName" icon="pi-ellipsis-h"></app-input>
            </div>
            <div class="p-col-12 p-mt-3">
                <app-button label="Login" class="p-d-block" size="large full"></app-button>
            </div>
            <div class="p-col-12 p-mt-3 p-text-center">
                <app-router-link router="#" label="Resend authentication code to ********321"></app-router-link>
            </div>
            <div class="p-col-12 p-text-center">
                <app-router-link router="#" label="Send authentication code via Email"></app-router-link>
            </div>
        </div>
    </form>                                    
</div>