<ngx-spinner name="signup-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
             [fullScreen]="true"><p> Loading... </p></ngx-spinner>
<div class="login-wrapper">
    <div *ngIf="expiredLink" class="p-grid">
        <div class="p-col-12">
            <app-main-heading text="SignUp Link" boldtext="Expired"></app-main-heading>
        </div>
        <div class="p-col-12">
            <app-text>
            This magic link is not valid or has been expired. Ask for new magic link</app-text>
        </div>
        <div class="p-col-12 p-mt-3">
            <app-button label="Send a new magic link" (click)="sendNewMagicLink()" class="p-d-block" size="large full"></app-button>
        </div>
        <div class="p-col-12 p-mt-3 p-text-center">
            <app-router-link router="/login" label="Login"></app-router-link>
        </div>
    </div>
    <div *ngIf="emailNotification" class="p-grid">
        <div class="p-col-12">
            <app-main-heading text="Check Your" boldtext="Email"></app-main-heading>
        </div>
        <div class="p-col-12">
            <app-text>
                A magic link has been send it your email. Click that link to SignUp
            </app-text>
        </div>
        <div class="p-col-12 p-mt-3">
            <app-button label="Login" (click)="routeToLogin()" class="p-d-block" size="large full"></app-button>
        </div>
    </div>
    <form *ngIf="authenticated" [formGroup]="signUpForm">
        <div class="p-grid">
            <div class="p-col-12">
                <app-main-heading text="Cydea Adaptive Intelligence"></app-main-heading>
            </div>
            <div class="p-col-12 p-md-6">
                <span class="p-input-icon-left p-input-wrapper">
                    <i class="pi pi-user"></i>
                    <input pInputText type="text" placeholder="First Name" id="fname" formControlName="firstName">
                    <div *ngIf="signUpFormErrorControl.firstName.errors">
                        <span class="p-error" *ngIf="(signUpFormErrorControl.firstName.errors.required && (signUpFormErrorControl.firstName.dirty
                        ||signUpFormErrorControl.firstName.touched)) || (signUpFormErrorControl.firstName.untouched && submitValidation)">
                            First name is required!</span>
                        <span class="p-error" *ngIf="signUpFormErrorControl.firstName.errors.pattern">Only characters are allowed</span>
                    </div>
                </span>
            </div>
            <div class="p-col-12 p-md-6">
                <span class="p-input-icon-left p-input-wrapper">
                    <i class="pi pi-user"></i>
                     <input pInputText type="text" placeholder="Last Name" id="lname" formControlName="lastName">
                    <div *ngIf="signUpFormErrorControl.lastName.errors">
                        <span class="p-error" *ngIf="(signUpFormErrorControl.lastName.errors.required && (signUpFormErrorControl.lastName.dirty
                        ||signUpFormErrorControl.lastName.touched)) || (signUpFormErrorControl.lastName.untouched && submitValidation)">
                            Last name is required!</span>
                        <span class="p-error" *ngIf="signUpFormErrorControl.lastName.errors.pattern">Only characters are allowed</span>
                    </div>
                </span>
            </div>

            <div class="p-col-12">
                <span class="p-input-icon-left p-input-wrapper">
                    <i class="pi pi-user"></i>
                   <input pInputText type="text" placeholder="Display Name" id="displayName" formControlName="displayName">
                    <div *ngIf="signUpFormErrorControl.displayName.errors">
                          <span class="p-error" *ngIf="(signUpFormErrorControl.displayName.errors.required && (signUpFormErrorControl.displayName.dirty
                        ||signUpFormErrorControl.displayName.touched)) || (signUpFormErrorControl.displayName.untouched && submitValidation)">
                            Display name is required!</span>
                    </div>
                </span>
            </div>
            <div class="p-col-12">
                <span class="p-input-icon-left p-input-wrapper">
                    <i class="pi pi-phone"></i>
                    <input pInputText type="text" placeholder="Phone Number" id="phoneNumber" formControlName="phoneNumber">
                    <div *ngIf="signUpFormErrorControl.phoneNumber.errors">
                        <span class="p-error" *ngIf="(signUpFormErrorControl.phoneNumber.errors.required && (signUpFormErrorControl.phoneNumber.dirty
                        ||signUpFormErrorControl.phoneNumber.touched)) || (signUpFormErrorControl.phoneNumber.untouched && submitValidation)">
                            Phone number is required!</span>
                    </div>
                </span>
            </div>
            <div class="p-col-12">
                <span class="p-input-icon-left p-input-wrapper">
                    <i class="pi pi-lock"></i>
                    <p-password formControlName="password" placeholder="Password" [feedback]="false" [toggleMask]="true"></p-password>
                     <div *ngIf="signUpFormErrorControl.password.errors">
                         <span class="p-error" *ngIf="(signUpFormErrorControl.password.errors.required && (signUpFormErrorControl.password.dirty
                        ||signUpFormErrorControl.password.touched)) || (signUpFormErrorControl.password.untouched && submitValidation)">
                            Password is required!</span>
                    </div>
                </span>
            </div>
            <div class="p-col-12">
                <span class="p-input-icon-left p-input-wrapper">
                    <i class="pi pi-lock"></i>
                    <p-password placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword"[feedback]="false" [toggleMask]="true"></p-password>
                    <div *ngIf="signUpFormErrorControl.confirmPassword.errors">
                        <span class="p-error" *ngIf="(signUpFormErrorControl.confirmPassword.errors.required && (signUpFormErrorControl.confirmPassword.dirty
                        ||signUpFormErrorControl.confirmPassword.touched)) || (signUpFormErrorControl.confirmPassword.untouched && submitValidation)">
                            Confirm password is required!
                        </span>

                        <span class="p-error" *ngIf="(signUpFormErrorControl.confirmPassword.dirty
                        ||signUpFormErrorControl.confirmPassword.touched) && signUpFormErrorControl.confirmPassword.errors.confirmedValidator">Password and Confirm password must be match.</span>
                    </div>
                </span>
            </div>
            <div class="p-col-12 p-mt-3">
                <app-button label="Continue" (click)="onSignUpFormSubmit()" class="p-d-block" size="large full"></app-button>
            </div>
            <div class="p-col-12 p-mt-2 p-text-center">
                <app-router-link router="/login" label="Already have account?"></app-router-link>
            </div>
        </div>
    </form>
</div>
