<div class="public---wrapper">
    <div class="img---col">
        <div class="logo">
            CydeaTech
        </div>
        <div class="bottom">
            <app-welcome-heading>
                Welcome to the<br/>CYDEA <strong>Adaptive Intelligence</strong>
            </app-welcome-heading>
            <app-text>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maecenas amet, massa viverra eu dictum est vel. Vel vitae mi vitae justo odio nunc. Aliquam et bibendum eu donec eget iaculis vitae.
            </app-text>
            <app-button label="Know more" class="p-mt-4 p-d-block"></app-button>
        </div>
    </div>
    <div class="public---right">
        <router-outlet></router-outlet>
    </div>
</div>