<ngx-spinner name="usersList-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
             [fullScreen]="true"><p> Loading... </p></ngx-spinner>
<app-page-title title="Manage Users"></app-page-title>
<div class="pages-inner">
    <div class="p-grid">
        <div class="p-col-12">
            <p-card>
                <p-tabView *ngIf="!socEnabled" (onChange)="changePrimaryTab($event, 0)" [(activeIndex)]="primaryTabIndex">
                    <p-tabPanel header="Organization Users">
                        <p-tabView (onChange)="changeSecondaryTab($event)" [(activeIndex)]="secondaryTabIndex">
                            <p-tabPanel header="Active">
                                <div class="p-grid">
                                    <div class="p-col-12 p-text-right p-mb-2">
                                        <app-router-link router="/admin-panel/createUser" label="Add User" icon="pi-plus" class="bold"></app-router-link>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="Disabled">
                            </p-tabPanel>
                            <p-tabPanel header="Invited">
                            </p-tabPanel>
                               
                        </p-tabView>
                    </p-tabPanel>
                    <p-tabPanel header="SOC Team">
                        <p-tabView (onChange)="changeSecondaryTab($event)" [(activeIndex)]="secondaryTabIndex">
                            <p-tabPanel header="Active">
                                <div class="p-grid">
                                    <div class="p-col-12 p-text-right p-mb-2">
                                        <app-router-link router="/admin-panel/createSoc" label="Add User" icon="pi-plus" class="bold"></app-router-link>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="Disabled">
                            </p-tabPanel>
                            <p-tabPanel header="Invited">
                            </p-tabPanel>
                        </p-tabView>
                    </p-tabPanel>
                </p-tabView>
                <p-tabView *ngIf="socEnabled" (onChange)="changeSecondaryTab($event)" [(activeIndex)]="secondaryTabIndex">
                    <p-tabPanel header="Active">
                        <div class="p-grid">
                            <div class="p-col-12 p-text-right p-mb-2">
                                <app-router-link router="/admin-panel/createSoc" label="Add User" icon="pi-plus" class="bold"></app-router-link>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Disabled">
                    </p-tabPanel>
                    <p-tabPanel header="Invited">
                    </p-tabPanel>

                </p-tabView>

                <p-table #usersListTable [value]="userListArray" [alwaysShowPaginator]="false" [paginator]="true"
                         [showCurrentPageReport]="true"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                         [rows]="10">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="secondaryTabIndex !==2">First Name</th>
                            <th *ngIf="secondaryTabIndex !==2">Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngIf="secondaryTabIndex !==2">{{rowData?.firstName}}</td>
                            <td *ngIf="secondaryTabIndex !==2">{{rowData?.lastName}}</td>
                            <td>{{rowData?.emailId}}</td>
                            <td>{{rowData.role}}</td>
                            <td>
                                <a *ngIf="editRoleAccess() && secondaryTabIndex !==2 && rowData.role !== 'Master Soc Admin'" (click)="updateOrganizationalUser(rowData?.emailId)" style="cursor: pointer" tooltipPosition="top"
                                    pTooltip="Edit User">
                                    <span><i class="pi pi-pencil"></i></span>
                                </a>
                                <a *ngIf="editRoleAccess() && secondaryTabIndex === 1" style="cursor: pointer" tooltipPosition="top"
                                   (click)="checkStatusOfUser(rowData.userId, true)" pTooltip="Enable User">
                                    <span><i class="pi pi-power-off"></i></span>
                                </a>
                                <a *ngIf="editRoleAccess() && secondaryTabIndex === 2" style="cursor: pointer" tooltipPosition="top"
                                   (click)="resendEmail(rowData?.userId)" pTooltip="Resend">
                                    <span><i class="pi pi-refresh"></i></span>
                                </a>
                                <a *ngIf="editRoleAccess() && secondaryTabIndex !==0" (click)="deleteOrganizationalUser(rowData?.userId)" style="cursor: pointer" tooltipPosition="top" router="#" pTooltip="Delete User">
                                    <span><i class="pi pi-trash"></i></span>
                                </a>
                                <a *ngIf="editRoleAccess() && secondaryTabIndex === 0" style="cursor: pointer" tooltipPosition="top"
                                   (click)="checkStatusOfUser(rowData.userId, false)" pTooltip="Archive User">
                                    <span><i class="pi pi-ban"></i></span>
                                </a>
                                <a *ngIf="primaryTabIndex === 1 && secondaryTabIndex === 0" style="cursor: pointer" tooltipPosition="top"
                                   (click)="viewSocDetails(rowData.userId)" pTooltip="View User">
                                    <span><i class="pi pi-eye"></i></span>
                                </a>

                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="secondaryTabIndex !==2 ? 5 : 3">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div class="panel panel-default">
                                            <p class="msg-dashBoard"> No Record Found </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </p-card>
        </div>
    </div>
</div>
<p-dialog [(visible)]="showReassignedDialog" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-page-title title="Reassigned SOC"></app-page-title>
        <div class="pages-inner">
            <div class="p-grid p-m-0">
                <div class="p-col-12 p-p-0">
                    <p-card>
                        <form [formGroup]="assignedSocForm">
                            <div class="p-grid">
                                <div class="p-col-12">
                                    <span class="p-input-icon-left p-input-wrapper">
                                        <i class="pi pi-users"></i>
                                        <p-dropdown [options]="socUserListDto?.activeUsers" formControlName="roles"  optionLabel="emailId"
                                                    optionValue="emailId" placeholder="Role"></p-dropdown >
                                        <div *ngIf="assignedSocFormControl.roles.errors">
                                            <span class="p-error" *ngIf="(assignedSocFormControl.roles.errors.required && (assignedSocFormControl.roles.dirty
                                               ||assignedSocFormControl.roles.touched)) || (assignedSocFormControl.roles.untouched )">
                                                Role is required!</span>
                                        </div>
                                    </span>
                                </div>
                                <div class="p-col-12 p-d-flex justify-content-space-between align-items-center" style="justify-content: space-between">
                                    <div class="p-d-flex">
                                        <app-button label="Invite" (click)="UnassignSoc()" class="p-d-block"></app-button>
                                        <app-button label="Cancel" (click)="cancel()" class="p-d-block secondary p-ml-3"></app-button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </p-card>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>
