<app-page-title title="Profile"></app-page-title>
<ngx-spinner name="editProfile-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
             type="ball-clip-rotate"
             [fullScreen]="false"><p> Loading... </p></ngx-spinner>


<div class="pages-inner">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-card-100">
            <p-card header="User Details">
                <form [formGroup]="editProfileForm">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="p-grid">
                                <div class="p-col-12 p-md-6">
                                    <span class="p-input-icon-left p-input-wrapper">
                                        <i class="pi pi-user"></i>
                                        <input pInputText type="text" placeholder="First Name" id="fname"
                                               formControlName="firstName">
                                        <div *ngIf="errorControl.firstName.errors && (errorControl.firstName.dirty
                                        || errorControl.firstName.touched)">
                                            <span class="p-error" *ngIf="errorControl.firstName.errors.required">First Name is required!</span>
                                            <span class="p-error" *ngIf="errorControl.firstName.errors.pattern">Only characters are allowed</span>
                                        </div>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-6">
                                    <span class="p-input-icon-left p-input-wrapper">
                                        <i class="pi pi-user"></i>
                                        <input pInputText type="text" placeholder="Last Name" id="lname"
                                               formControlName="lastName">
                                        <div *ngIf="errorControl.lastName.errors && (errorControl.lastName.dirty || errorControl.lastName.touched)">
                                            <span class="p-error" *ngIf="errorControl.lastName.errors.required">Last Name is required!</span>
                                            <span class="p-error" *ngIf="errorControl.lastName.errors.pattern">Only characters are allowed</span>
                                        </div>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-12">
                                    <span class="p-input-icon-left p-input-wrapper">
                                        <i class="pi pi-user"></i>
                                        <input pInputText type="text" placeholder="Display Name"
                                               id="displayName" formControlName="displayName">
                                        <div *ngIf="errorControl.displayName.errors && (errorControl.displayName.dirty || errorControl.displayName.touched)">
                                            <span class="p-error" *ngIf="errorControl.displayName.errors.required">Display Name is required!</span>
                                        </div>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-12">
                                    <span class="p-input-icon-left p-input-wrapper">
                                        <i class="pi pi-phone"></i>
                                        <input pInputText type="text" placeholder="Phone No." id="phoneNo" formControlName="phoneNumber">
                                        <div *ngIf="errorControl.phoneNumber.errors && (errorControl.phoneNumber.dirty || errorControl.phoneNumber.touched)">
                                            <span class="p-error" *ngIf="errorControl.phoneNumber.errors.required">Phone Number is required!</span>
                                        </div>
                                    </span>
                                </div>
                                <div class="p-col-12 p-mt-3 p-d-flex">
                                    <app-button label="Update" (click)="updateProfile()" class="p-d-block"></app-button>
                                    <app-button label="Cancel"  (click)="cancel()" class="p-d-block secondary p-ml-3"></app-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>
        <div class="p-col-12 p-md-6 p-card-100">
            <p-card header="Change Password">
                <form [formGroup]="changePasswordForm">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-lock"></i>
                                <p-password formControlName="oldPassword" placeholder="Old Password" [feedback]="false" [toggleMask]="true"></p-password>
                                <div *ngIf="changePasswordControl.oldPassword.errors && (changePasswordControl.oldPassword.dirty || changePasswordControl.oldPassword.touched)">
                                    <span class="p-error" *ngIf="changePasswordControl.oldPassword.errors.required">Old Password is required!</span>
                                </div>
                            </span>
                        </div>
                        <div class="p-col-12">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-lock"></i>
                                <p-password formControlName="password" placeholder="New Password" [feedback]="false" [toggleMask]="true"></p-password>
                                <div *ngIf="changePasswordControl.password.errors && (changePasswordControl.password.dirty || changePasswordControl.password.touched)">
                                    <span class="p-error" *ngIf="changePasswordControl.password.errors.required">Password is required!</span>
                                </div>
                            </span>
                        </div>
                        <div class="p-col-12">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-lock"></i>
                                <p-password formControlName="confirmPassword" placeholder="Confirm New Password" [feedback]="false" [toggleMask]="true"></p-password>
                                <div *ngIf="changePasswordControl.confirmPassword.errors && (changePasswordControl.confirmPassword.dirty || changePasswordControl.confirmPassword.touched)">
                                    <span class="p-error" *ngIf="changePasswordControl.confirmPassword.errors.required">Confirm Password is required!</span>
                                    <span class="p-error" *ngIf="changePasswordControl.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.</span>
                                </div>
                            </span>
                        </div>
                        <div class="p-col-12 p-mt-3 p-d-flex">
                            <app-button label="Change Password" (click)="changePassword()"  class="p-d-block"></app-button>
                            <app-button label="Cancel" (click)="cancel()"  class="p-d-block secondary p-ml-3"></app-button>
                        </div>
                    </div>

                </form>
            </p-card>
        </div>
    </div>
</div>
