@import "variables";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.animation {
  @include animation;
}

a,
a:hover {
  text-decoration: none;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  cursor: pointer;
  color: $link-color;

  .pi {
    margin-right: 10px;
  }
}

a:hover {
  color: $primary-color;
}

ul,
li {
  @include p-m-o;
  list-style-type: none;
}

strong,
.bold {
  font-weight: $bold;
}

body {
  @include base;
  @include p-m-o;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: end;
}

.p-error {
  color: $red-color;
  margin-top: 10px;
  display: block;
}

//Public
.public---wrapper {
  min-height: 100vh;
  display: flex;

  .img---col {
    width: 50%;
    min-height: 100vh;
    background: url(../assets/login-bg.png) no-repeat center center;
    background-size: cover;
    position: relative;

    .logo {
      position: absolute;
      top: 55px;
      left: 64px;
      background: url(../assets/cydea-tech-logo.svg) no-repeat center center;
      width: 89px;
      height: 85px;
      background-size: contain;
      overflow: hidden;
      text-indent: -9999px;
    }

    .bottom {
      position: absolute;
      left: 64px;
      bottom: 55px;
      width: calc(100% - 128px);
    }
  }

  .public---right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/lines.png) no-repeat right top;
    flex-wrap: wrap;

    .login-wrapper {
      width: 367px;
    }
  }
}

.content---wrapper {
  display: flex;

  .sidepanel {
    width: 238px;
    background: $sidepanel-bg;
    height: calc(100vh - 64px);
    position: relative;

    .p-panelmenu {
      border-top: 1px solid $white-10;
      font-size: $font-13;

      .p-panelmenu-panel {
        //border-bottom: 1px solid $white-10;

        .p-component {
          padding: 17px 20px;
          border-bottom: 1px solid $white-10;

          &.modules {
            padding-bottom: 3px;
            border: 0;
          }
        }

        .p-panelmenu-header-link {
          color: $body-color;
          font-weight: $medium;
          position: relative;

          .p-panelmenu-icon {
            position: absolute;
            top: 0;
            right: 0;
          }

          &:hover {
            color: $link-color;
          }

          &.p-menuitem-link-active {
            color: $link-color;

            &::before {
              content: "";
              position: absolute;
              left: -20px;
              top: 0;
              width: 5px;
              background: $link-color;
              height: 100%;
            }
          }
        }

        .p-toggleable-content {
          .p-panelmenu-content {
            margin-top: 10px;

            ul {
              margin-left: 20px;

              li {
                a {
                  padding: 10px;
                  color: $white-70;
                  position: relative;

                  .p-panelmenu-icon {
                    position: absolute;
                    top: 10px;
                    right: 0;
                  }

                  &:hover {
                    color: $link-color;
                  }
                }
              }
            }
          }
        }
      }
    }

    .menu-bottom {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 20px;
      border-top: 1px solid $white-10;
      padding-top: 10px;

      a {
        display: block;
        margin: 20px 20px 0 20px;
        color: $white-70;

        &:hover {
          color: $link-color;
        }
      }
    }
  }

  .pages {
    width: calc(100% - 238px);

    .pages-inner {
      padding: 0 15px;
      margin-top: -60px;
    }
  }

  .color-tabs {
    margin: 0 0 0 -15px;
    width: calc(100% + 15px);
    display: flex;

    li {
      width: calc(25% - 15px);
      margin-left: 15px;

      app-router-link {
        display: block;
      }

      a {
        text-align: center;
        font-weight: $regular;
        font-size: 25px;
        line-height: 89px;
        position: relative;
        color: $body-color;
        display: block;
        background: linear-gradient(270deg, #fbd323 1.47%, #fe8c81 100%);
        box-shadow: 0px -8px 20px rgba(31, 39, 56, 0.15);
        border-top: 4px solid $black;

        &.active {
          font-weight: $bold;
          border-top: 4px solid $body-color;

          &::after {
            content: "";
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $body-bg;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
          }
        }
      }

      &.purple {
        a {
          background: linear-gradient(270deg, #678fe9 1.47%, #7559ce 100%);
        }
      }

      &.red {
        a {
          background: linear-gradient(270deg, #ff6eac 1.47%, #ee6e85 100%);
        }
      }

      &.green {
        a {
          background: linear-gradient(270deg, #48eaa1 1.47%, #11d7e4 100%);
        }
      }
    }
  }
}

.p-card {
  background: $card-bg;
  padding: 25px;

  .p-card-title {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.p-card-100 {
  .p-card {
    height: 100%;
  }
}

.p-datatable {
  .p-datatable-thead {
    th {
      padding: 15px;
      text-align: left;
      background: rgba(31, 39, 56, 0.5);
    }
  }
  .p-datatable-tbody {
    tr {
      td {
        padding: 15px;
        text-align: left;

        a {
          color: $body-color;

          &:hover {
            color: $link-color;
          }
        }
      }

      &:nth-child(even) {
        td {
          background: rgba(31, 39, 56, 0.25);
        }
      }
    }
  }
}

.p-tabview-nav {
  border-bottom: 3px solid $white-10;
  margin-bottom: 25px !important;

  li {
    margin-right: 30px;

    a {
      padding: 0 30px 15px;
      font-weight: $bold;
      color: $body-color;
      position: relative;
      overflow: visible;
    }

    &.p-highlight {
      a {
        color: $link-color;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 100%;
          height: 5px;
          background: $link-color;
        }
      }
    }
  }
}

.p-input-wrapper,
app-input {
  width: 100%;

  .pi {
    left: 20px;
    top: 29px;
  }
}

.p-inputtext {
  @include input;

  &:focus {
    border-color: $primary-color;
  }

  &.p-error {
    border-color: $red-color;
    margin-top: 10px;
    display: block;
  }
}

.p-dropdown {
  width: 100%;
  position: relative;

  .p-dropdown-trigger {
    position: absolute;
    top: 21px;
    right: 20px;
  }

  .p-dropdown-panel {
    @include input;
    height: auto;
    background: $body-bg;
    margin-top: -1px;
    padding: 10px 15px;

    li {
      padding: 10px;
    }
  }
}

.p-password {
  width: 100%;
}

.p-input-icon-right {
  .pi {
    right: 20px;
    left: auto;
    cursor: pointer;
  }
}

.opacity-3 {
  opacity: 0.3;
}

.cursor-pointer {
  cursor: pointer;
}

p-calendar.ng-dirty.ng-invalid > .p-calendar > .p-inputtext {
  border-color: #e24c4c;
}

.p-calendar {
  width: 100%;
}

.p-datepicker {
  padding: 0.5rem;
  background: #ffffff;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 6px;
}
.p-datepicker:not(.p-datepicker-inline) {
  background: #ffffff;
  border: 0 none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  background: #ffffff;
}
.p-datepicker .p-datepicker-header {
  padding: 0.5rem;
  color: #495057;
  background: #ffffff;
  font-weight: 600;
  margin: 0;
  border-bottom: 1px solid #dee2e6;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  width: 2rem;
  height: 2rem;
  color: #6c757d;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-datepicker .p-datepicker-header .p-datepicker-prev:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-next:enabled:hover {
  color: #343a40;
  border-color: transparent;
  background: #e9ecef;
}
.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #C7D2FE;
}
.p-datepicker .p-datepicker-header .p-datepicker-title {
  line-height: 2rem;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: #495057;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  font-weight: 600;
  padding: 0.5rem;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
  color: #6366F1;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  margin-right: 0.5rem;
}
.p-datepicker table {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.p-datepicker table th {
  padding: 0.5rem;
}
.p-datepicker table th > span {
  width: 2.5rem;
  height: 2.5rem;
}
.p-datepicker table td {
  padding: 0.5rem;
}
.p-datepicker table td > span {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: box-shadow 0.2s;
  border: 1px solid transparent;
}
.p-datepicker table td > span.p-highlight {
  color: #4338CA;
  background: #EEF2FF;
}
.p-datepicker table td > span:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #C7D2FE;
}
.p-datepicker table td.p-datepicker-today > span {
  background: #ced4da;
  color: #495057;
  border-color: transparent;
}
.p-datepicker table td.p-datepicker-today > span.p-highlight {
  color: #4338CA;
  background: #EEF2FF;
}
.p-datepicker .p-datepicker-buttonbar {
  padding: 1rem 0;
  border-top: 1px solid #dee2e6;
}
.p-datepicker .p-datepicker-buttonbar .p-button {
  width: auto;
}
.p-datepicker .p-timepicker {
  border-top: 1px solid #dee2e6;
  padding: 0.5rem;
}
.p-datepicker .p-timepicker button {
  width: 2rem;
  height: 2rem;
  color: #6c757d;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-datepicker .p-timepicker button:enabled:hover {
  color: #343a40;
  border-color: transparent;
  background: #e9ecef;
}
.p-datepicker .p-timepicker button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #C7D2FE;
}
.p-datepicker .p-timepicker button:last-child {
  margin-top: 0.2em;
}
.p-datepicker .p-timepicker span {
  font-size: 1.25rem;
}
.p-datepicker .p-timepicker > div {
  padding: 0 0.5rem;
}
.p-datepicker.p-datepicker-timeonly .p-timepicker {
  border-top: 0 none;
}
.p-datepicker .p-monthpicker {
  margin: 0.5rem 0;
}
.p-datepicker .p-monthpicker .p-monthpicker-month {
  padding: 0.5rem;
  transition: box-shadow 0.2s;
  border-radius: 6px;
}
.p-datepicker .p-monthpicker .p-monthpicker-month.p-highlight {
  color: #4338CA;
  background: #EEF2FF;
}
.p-datepicker .p-yearpicker {
  margin: 0.5rem 0;
}
.p-datepicker .p-yearpicker .p-yearpicker-year {
  padding: 0.5rem;
  transition: box-shadow 0.2s;
  border-radius: 6px;
}
.p-datepicker .p-yearpicker .p-yearpicker-year.p-highlight {
  color: #4338CA;
  background: #EEF2FF;
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group {
  border-left: 1px solid #dee2e6;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group:first-child {
  padding-left: 0;
  border-left: 0 none;
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group:last-child {
  padding-right: 0;
}
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
  background: #e9ecef;
}
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #C7D2FE;
}
.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):not(.p-highlight):hover {
  background: #e9ecef;
}
.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #C7D2FE;
}
.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):not(.p-highlight):hover {
  background: #e9ecef;
}
.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #C7D2FE;
}
.p-disabled, .p-component:disabled {
  opacity: 0.6;
}

@media screen and (max-width: 769px) {
  .p-datepicker table th, .p-datepicker table td {
    padding: 0;
  }
}
