@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$primary-font: 'Roboto', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

$primary-size: 14px;
$font-13: 13px;
$font-12: 12px;
$body-bg: #1F2738;
$body-color: #fff;
$primary-color: #4A71EA;
$link-color: #309AEA;
$red-color: #e24c4c;
$header-bg: #070519;
$sidepanel-bg: #273146;
$white-10: rgba(255,255,255,0.1);
$white-70: rgba(255,255,255,0.7);
$black: #000;
$card-bg: #333D52;

$p-0: 0;
$m-0: 0;

@mixin base {
    font-family: $primary-font;
    font-weight: $regular;
    font-size: $primary-size;
    background: $body-bg;
    color: $body-color;
}

@mixin p-m-o {
    padding: $p-0;
    margin: $m-0;
}

@mixin main-heading {
    @include p-m-o;
    font-size: 30px;
    font-weight: $regular;
    line-height: 1.35;
    margin-bottom: 15px;
}

@mixin p-button {
    @include animation;
    background: $primary-color;
    color: $body-color;
    font-size: $primary-size;
    padding: 0 25px;
    height: 38px;
    line-height: 38px;
    border: 0;
    border-radius: 20px;
    text-align: center;
}

@mixin animation {
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

@mixin input {
    @include animation;
    padding: 20px 20px 20px 45px;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    color: $body-color;
    outline: none;   
    height: 57px;   
}

@mixin header {
    background: $header-bg;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}