<ngx-spinner name="editProfile-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
             [fullScreen]="true"><p>Loading...</p></ngx-spinner>

<app-page-title title="Create User"></app-page-title>
<div class="pages-inner">
  <div class="p-grid">
    <div class="p-col-12">
      <p-card>
        <form [formGroup]="createUser">
          <div class="p-grid">
            <div class="p-col-12 p-md-12">
              <p class="p-m-0">Company Name</p>
              <h2 class="p-mb-1 p-mt-2">{{organizationName}}</h2>
            </div>
            <div class="p-col-12 p-md-12">
              <hr class="opacity-3" />
            </div>
            <div class="p-col-12" formArrayName="userCreateRequestDtos">
              <div *ngFor="let createFormUnit of createUser.get('userCreateRequestDtos')['controls']; let createUserIndex = index;">
                <div class="p-grid" [formArrayName]="createUserIndex">
                  <div class="p-col-12 p-md-3">
                    <span class="p-input-icon-left p-input-wrapper">
                      <i class="pi pi-envelope"></i>
                      <input pInputText type="email" placeholder="Email" id="email" formControlName="email">
                       <div *ngIf="createFormUnit.controls.email.errors  && (createFormUnit.controls.email.dirty || createFormUnit.controls.email.touched)">
                         <span class="p-error" *ngIf="(createFormUnit.controls.email.errors?.required)">Email is required</span>
                         <span class="p-error" *ngIf="(createFormUnit.controls.email.errors?.email)">Email is incorrect</span>
                       </div>
                    </span>
                  </div>
                  <div class="p-col-12 p-md-3">
                    <span class="p-input-icon-left p-input-wrapper">
                      <i class="pi pi-sitemap"></i>
                       <p-dropdown [options]="roles" formControlName="role" placeholder="Role"></p-dropdown>
                       <div *ngIf="createFormUnit.controls.role.errors  && (createFormUnit.controls.role.dirty || createFormUnit.controls.role.touched)">
                         <span class="p-error" *ngIf="(createFormUnit.controls.role.errors?.required)">Role is required</span>
                    </div>
                    </span>
                  </div>
                  <div class="p-col-12 p-md-3 p-d-flex align-items-center">
                    <div *ngFor="let additonalRole of additionalRoles" class="p-field-checkbox p-m-0">
                      <input type="checkbox" formArrayName="additionalRoles" [value]="additonalRole"
                             (change)="onCheckboxChange($event, createFormUnit)"
                             class="p-ml-4"/>
                      <label>{{additonalRole}}</label>
                    </div>
                  </div>
                  <div (click)="removeUser(createUserIndex)" class="p-col-12 p-md-3 p-d-flex align-items-center justify-content-end" *ngIf=" createUserIndex > 0 ">
                    <i class="pi pi-times cursor-pointer"></i>
                  </div>
                  <div class="p-col-12 p-d-flex justify-content-end" *ngIf="createUserIndex === createUser.get('userCreateRequestDtos')['controls'].length -1">
                    <a (click)="addUser()"  class="bold"><i class="pi pi-plus ng-star-inserted"></i>Add More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-12 p-d-flex justify-content-space-between align-items-center" style="justify-content: space-between">
              <div class="p-d-flex">
                <app-button (click)="onCreateUserSubmit()" label="Invite" class="p-d-block"></app-button>
                <app-button (click)="cancel()" label="Cancel" class="p-d-block secondary p-ml-3"></app-button>
              </div>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</div>
