<div class="login-wrapper">
    <ngx-spinner name="forgotPassword-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
                 [fullScreen]="true"><p> Loading... </p></ngx-spinner>
    <form [formGroup]="forgotPasswordForm">
        <div class="p-grid">
            <div class="p-col-12">
                <app-main-heading text="Reset your" boldtext="password"></app-main-heading>
            </div>
            <div class="p-col-12 p-md-12">
                <span class="p-input-icon-left p-input-wrapper">
                    <i class="pi pi-user"></i>
                    <input pInputText type="email" placeholder="Email" id="userEmail" formControlName="userEmail">
                     <div *ngIf="forgotPasswordFormErrorControl.userEmail.errors && (forgotPasswordFormErrorControl.userEmail.dirty || forgotPasswordFormErrorControl.userEmail.touched)">
                         <span class="p-error" *ngIf="forgotPasswordFormErrorControl.userEmail.errors.required">Email is required!</span>
                         <span class="p-error" *ngIf="forgotPasswordFormErrorControl.userEmail.errors.email">Email is incorrect.</span>
                     </div>
                </span>
            </div>
            <div class="p-col-12 p-mt-3">
                <app-button label="Reset" (click)="forgotPassword()" class="p-d-block" size="large full"></app-button>
            </div>
            <div class="p-col-12 p-mt-3 p-text-center">
                <app-router-link router="/login" label="Back to Login"></app-router-link>
            </div>
        </div>
    </form>                                    
</div>
