<ngx-spinner name="updateCompany-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
             type="ball-clip-rotate"
             [fullScreen]="true"><p> Loading... </p></ngx-spinner>
<app-page-title title="Update Company"></app-page-title>

<div class="pages-inner">
    <div class="p-grid p-m-0">
        <div class="p-col-12 p-p-0">
            <p-card>
                <form [formGroup]="addOrganization">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-home"></i>
                                <input pInputText type="text" placeholder="Company Name" id="companyName" formControlName="companyName">
                                  <div *ngIf="createSOCControl.companyName.errors">
                                    <span class="p-error" *ngIf="(createSOCControl.companyName.errors.required && (createSOCControl.companyName.dirty
                                    ||createSOCControl.companyName.touched)) || (createSOCControl.companyName.untouched && submitValidation)">
                                        Company Name is required!</span>
                                </div>
                              </span>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-slack"></i>
                                 <p-dropdown  [options]="subscriptionTypes" formControlName="subscriptionType" placeholder="Subscription Type"></p-dropdown >
                                <div *ngIf="createSOCControl.subscriptionType.errors">
                                    <span class="p-error" *ngIf="(createSOCControl.subscriptionType.errors.required && (createSOCControl.subscriptionType.dirty
                                      ||createSOCControl.subscriptionType.touched)) || (createSOCControl.subscriptionType.untouched && submitValidation)">
                                        Subscription type is required!</span>
                                </div>
                            </span>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-sitemap"></i>
                                <p-dropdown  [options]="roles" formControlName="companyRoles"
                                             (onChange)="onCompanyRoleChanges($event)" placeholder="Company Roles"></p-dropdown >
                                <div *ngIf="createSOCControl.companyRoles.errors">
                                    <span class="p-error" *ngIf="(createSOCControl.companyRoles.errors.required && (createSOCControl.companyRoles.dirty
                                      ||createSOCControl.companyRoles.touched)) || (createSOCControl.companyRoles.untouched && submitValidation)">
                                        Company Role is required!</span>
                                </div>
                              </span>
                        </div>
                        <div class="p-col-12 p-d-flex p-mt-3">
                            <div *ngFor="let additonalRole of additionalRoles" class="p-field-checkbox p-m-0">
                                <input type="checkbox" formArrayName="additionalRoles" [value]="additonalRole"
                                       (change)="onCheckboxChange($event)"/>
                                <label>{{additonalRole}}</label>
                            </div>
                            <div class="p-field-checkbox p-m-0">
                                <input type="checkbox" formControlName="socSupport" (change)="onsocSupportChange($event)" [value]="'SOC'"/>
                                <label>SOC Support</label>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-flag"></i>
                                <p-dropdown  [options]="sectors" formControlName="sector" placeholder="Sector"></p-dropdown >
                                <div *ngIf="createSOCControl.sector.errors">
                                    <span class="p-error" *ngIf="(createSOCControl.sector.errors.required && (createSOCControl.sector.dirty
                                      ||createSOCControl.sector.touched)) || (createSOCControl.sector.untouched && submitValidation)">
                                        Sector is required!</span>
                                </div>
                            </span>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-calendar-times"></i>
                                <p-calendar placeholder="Subscription Start Date" [disabled]="true" formControlName="subscriptionStartDate"></p-calendar>
                                <div *ngIf="createSOCControl.subscriptionStartDate.errors">
                                    <span class="p-error" *ngIf="(createSOCControl.subscriptionStartDate.errors.required && (createSOCControl.subscriptionStartDate.dirty
                                      ||createSOCControl.subscriptionStartDate.touched)) || (createSOCControl.subscriptionStartDate.untouched && submitValidation)">
                                        Subscription Start Date is required!</span>
                                </div>
                              </span>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-calendar-times"></i>
                                <p-calendar placeholder="Subscription End Date" formControlName="subscriptionEndDate"></p-calendar>
                                 <div *ngIf="createSOCControl.subscriptionEndDate.errors">
                                    <span class="p-error" *ngIf="(createSOCControl.subscriptionEndDate.errors.required && (createSOCControl.subscriptionEndDate.dirty
                                      ||createSOCControl.subscriptionEndDate.touched)) || (createSOCControl.subscriptionEndDate.untouched && submitValidation)">
                                        Subscription End Date is required!</span>
                                </div>
                              </span>
                        </div>
                        <div class="p-col-12">
                            <hr class="opacity-3 p-mt-3 p-mb-0"/>
                        </div>
                        <div class="p-col-12">
                            <h3 class="p-mb-1">Enable Modules</h3>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field-checkbox p-mb-1">
                                <input type="checkbox"  formControlName="tip"/>
                                <label>Threat Intelligence Platform</label>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field-checkbox p-mb-1">
                                <input type="checkbox" formControlName="community"/>
                                <label>Threat Sharing Community</label>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field-checkbox p-mb-1">
                                <input type="checkbox" formControlName="apt"/>
                                <label>Advanced Persistent Threats</label>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field-checkbox p-mb-1">
                                <input type="checkbox" formControlName="infraMonitoring"/>
                                <label>Infrastructure Monitoring</label>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field-checkbox p-mb-1">
                                <input type="checkbox" formControlName="vp"/>
                                <label>Vulnerability Prioritization</label>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field-checkbox p-mb-1">
                                <input type="checkbox" formControlName="ddp"/>
                                <label>Distributed Deception Platform</label>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field-checkbox p-mb-1">
                                <input type="checkbox" formControlName="seim"/>
                                <label>SIEM</label>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field-checkbox p-mb-1">
                                <input type="checkbox" formControlName="sour"/>
                                <label>SOAR</label>
                            </div>
                        </div>
                        <div class="p-col-12">
                            <hr class="opacity-3 p-mt-3 p-mb-0"/>
                        </div>
                        <div class="p-col-12">
                            <h3 class="p-mb-1">Third Party Vendors</h3>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field-checkbox p-mb-1">
                                <input type="checkbox" formControlName="skurio"/>
                                <label>Skurio - DRP</label>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field-checkbox p-mb-1">
                                <input type="checkbox" formControlName="riskXchange"/>
                                <label>RiskXchange - ASM</label>
                            </div>
                        </div>
                        <div *ngIf="showSocUsers"  class="p-col-12">
                            <hr class="opacity-3 p-mt-1"/>
                        </div>
                        <div *ngIf="showSocUsers"  class="p-col-12">
                            <h3 class="p-mb-1 p-mt-0">Update User</h3>
                        </div>
                        <div *ngIf="showSocUsers" class="p-col-12 p-md-6 p-lg-4">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-envelope"></i>
                                <p-dropdown  [options]="socUsers" optionLabel="emailId" optionValue="userId"
                                             emptyMessage="Select Company Name first"
                                             [disabled]="!socUsers" formControlName="socUserId" placeholder="SOC Email Address" ></p-dropdown >
                                <div *ngIf="createSOCControl.socUserId.errors">
                                    <span class="p-error" *ngIf="(createSOCControl.socUserId.errors.required && (createSOCControl.socUserId.dirty
                                      ||createSOCControl.socUserId.touched)) || (createSOCControl.socUserId.untouched && submitValidation)">
                                        SOC Email Address is required!</span>
                                </div>
                              </span>
                        </div>
                        <div class="p-col-12 p-mt-3 p-d-flex">
                            <app-button label="Update" (click)="onCreateAdminSubmit()" class="p-d-block"></app-button>
                            <app-button label="Cancel" (click)="cancel()" class="p-d-block secondary p-ml-3"></app-button>
                        </div>
                    </div>
                </form>                
            </p-card>
        </div>
    </div>
</div>
