<ngx-spinner name="socDetails-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
             type="ball-clip-rotate"
             [fullScreen]="true"><p> Loading... </p></ngx-spinner>
<app-page-title title="Assigned Organizations"></app-page-title>

<div class="pages-inner">
    <div class="p-grid p-m-0">
        <div class="p-col-12 p-p-0">
            <p-card>

                <div *ngIf="socDetails" class="p-grid">
                    <div class="p-col-12">
                        <ul class="modal-listing p-d-flex">
                            <li><b>Assignee:</b> {{socDetails?.firstName}} {{socDetails?.lastName}}</li>
                            <li><b>Assignee Email:</b> {{socDetails?.emailId}}</li>
                            <li><b>Assignee Role:</b> {{socDetails?.role}}</li>
                        </ul>
                    </div>
                </div>
                <p-table #viewSocTable [value]="socDetails?.organizationViewDtos" [alwaysShowPaginator]="false" [paginator]="true"
                         [showCurrentPageReport]="true"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                         [rows]="10">
                    <ng-template pTemplate="header">
                        <th>Name</th>
                        <th>Type</th>
                        <th>Role</th>
                        <th>Sector</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Account Manager</th>
                        <th>Status</th>
                        <th *ngIf="role !== 'Master Soc Admin'"></th>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td >{{rowData?.companyName}}</td>
                            <td>{{rowData?.subscriptionType}}</td>
                            <td>{{rowData?.companyBaseRole}}</td>
                            <td>{{rowData?.sector}}</td>
                            <td>{{rowData.subscriptionStartDate}}</td>
                            <td>{{rowData.subscriptionEndDate}}</td>
                            <td>{{rowData.accountManager}}</td>
                            <td>{{rowData.organizationStatus}}</td>
                            <td *ngIf="role !== 'Master Soc Admin'">
                                <a (click)="UnassignSoc(rowData?.id)" style="cursor: pointer" tooltipPosition="top" pTooltip="Un-assign User">
                                    <span><i class="pi pi-minus-circle"></i></span>
                                </a>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="9">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div class="panel panel-default">
                                            <p class="msg-dashBoard"> No Record Found </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </div>
</div>
