<ngx-spinner name="admin-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
             type="ball-clip-rotate"
             [fullScreen]="true"><p> Loading... </p></ngx-spinner>
<app-page-title title="Admin"></app-page-title>

<div class="pages-inner">
    <div class="p-grid p-m-0">
        <div class="p-col-12 p-p-0">            
            <p-card>
                <div class="p-grid">
                    <div class="p-col-12 p-text-right p-mb-2">
                        <app-router-link router="/admin-panel/createCompany" label="Create Company" icon="pi-plus" class="bold"></app-router-link>
                    </div>
                </div>
                <p-table #adminTable [value]="adminDetails" [alwaysShowPaginator]="false" [paginator]="true"
                         [showCurrentPageReport]="true"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                         [rows]="10">
                    <ng-template pTemplate="header">
                        <th>Name</th>
                        <th>Type</th>
                        <th>Role</th>
                        <th>Sector</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Account Manager</th>
                        <th>Assigned SOC</th>
                        <th>Status</th>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td >{{rowData?.companyName}}</td>
                            <td>{{rowData?.subscriptionType}}</td>
                            <td>{{rowData?.companyBaseRole}}</td>
                            <td>{{rowData?.sector}}</td>
                            <td>{{rowData?.subscriptionStartDate | date: 'dd-MM-yyyy' }}</td>
                            <td>{{rowData?.subscriptionEndDate | date: 'dd-MM-yyyy'}}</td>
                            <td>{{rowData?.accountManager}}</td>
                            <td>{{rowData?.assignedSoc || '--'}}</td>
                            <td>
                                <p-chip *ngIf="rowData?.organizationStatus" label="Enabled" styleClass="mr-2 success"></p-chip>
                                <p-chip *ngIf="!rowData?.organizationStatus" label="Disabled" styleClass="mr-2 error"></p-chip>
                            </td>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="9">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div class="panel panel-default">
                                            <p class="msg-dashBoard"> No Record Found </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </div>
</div>
