<ngx-spinner name="createSOC-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
             type="ball-clip-rotate"
             [fullScreen]="true"><p> Loading... </p></ngx-spinner>

<app-page-title title="Create SOC"></app-page-title>
<div class="pages-inner">
    <div class="p-grid">
        <div class="p-col-12">
            <p-card>
                <form [formGroup]="createSOC">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-12">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-user"></i>
                                <input pInputText type="text" [disabled]="true" readonly placeholder="Company Name"
                                       id="fname" formControlName="companyName">
                            </span>
                        </div>
                        <div class="p-col-12 p-md-12">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-user"></i>
                                <input pInputText type="email" placeholder="Email" id="lname" formControlName="email">
                                <div *ngIf="createSOCControl.email.errors">
                                    <span class="p-error" *ngIf="(createSOCControl.email.errors.required && (createSOCControl.email.dirty
                                    ||createSOCControl.email.touched)) || (createSOCControl.email.untouched && submitValidation)">
                                        Email is required!</span>
                                    <span class="p-error" *ngIf="createSOCControl.email.errors.email">Email is incorrect.</span>
                                </div>
                            </span>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <span class="p-input-icon-left p-input-wrapper">
                                <i class="pi pi-users"></i>
                                <p-dropdown  [options]="roles" formControlName="role" placeholder="Role"></p-dropdown >
                                   <div *ngIf="createSOCControl.role.errors">
                                       <span class="p-error" *ngIf="(createSOCControl.role.errors.required && (createSOCControl.role.dirty
                                        ||createSOCControl.role.touched)) || (createSOCControl.role.untouched && submitValidation)">
                                           Role is required!</span>
                                   </div>
                            </span>
                        </div>
                        <div class="p-col-12 p-md-12">
                            <span class="p-input-icon-left p-input-wrapper">
                              <div *ngFor="let additonalRole of additionalRoles" class="p-field-checkbox">
                                <input type="checkbox" formArrayName="additionalRoles" [value]="additonalRole"
                                       (change)="onCheckboxChange($event)"/>
                                <label>{{additonalRole}}</label>
                              </div>
                            </span>
                        </div>
                        <div class="p-col-12 p-d-flex">
                            <app-button label="Invite" (click)="onCreateSOCSubmit()" class="p-d-block"></app-button>
                            <app-button label="Cancel" (click)="cancel()"
                                        class="p-d-block secondary p-ml-3"></app-button>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>
    </div>
</div>
