<div class="login-wrapper">
    <ngx-spinner name="forgotPassword-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
                 [fullScreen]="true"><p> Loading... </p></ngx-spinner>
    <form [formGroup]="updatePasswordForm">
        <div class="p-grid">
            <div class="p-col-12">
                <app-main-heading text="Reset your" boldtext="password"></app-main-heading>
            </div>
            <div class="p-col-12">
                <span class="p-input-icon-left p-input-wrapper">
                    <p-password formControlName="updatedPassword" placeholder="New Password" [feedback]="false" [toggleMask]="true"></p-password>
                    <div *ngIf="updatePasswordFormErrorControl.updatedPassword.errors && (updatePasswordFormErrorControl.updatedPassword.dirty ||
                    updatePasswordFormErrorControl.updatedPassword.touched)">
                        <span class="p-error" *ngIf="updatePasswordFormErrorControl.updatedPassword.errors.required">Password is required!</span>
                    </div>
                </span>
            </div>

            <div class="p-col-12">
                <span class="p-input-icon-left p-input-wrapper">
                    <i class="pi pi-lock"></i>
                    <p-password placeholder="Confirm New Password" id="confirmPassword" formControlName="confirmPassword"[feedback]="false" [toggleMask]="true"></p-password>
                    <div *ngIf="updatePasswordFormErrorControl.confirmPassword.errors && (updatePasswordFormErrorControl.confirmPassword.dirty || updatePasswordFormErrorControl.confirmPassword.touched)">
                        <span class="p-error" *ngIf="updatePasswordFormErrorControl.confirmPassword.errors.required">Confirm Password is required!</span>
                        <span class="p-error" *ngIf="updatePasswordFormErrorControl.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.</span>
                    </div>
                </span>
            </div>
            <div class="p-col-12 p-mt-3">
                <app-button label="Reset" (click)="forgotPassword()" class="p-d-block" size="large full"></app-button>
            </div>
            <div class="p-col-12 p-mt-3 p-text-center">
                <app-router-link router="/login" label="Back to Login"></app-router-link>
            </div>
        </div>
    </form>                                    
</div>
